extends base.pug



block content
    h1 Join our fish site!
        form(method="POST")
            input(name="ID", placeholder="ID", required)
            input(name="password", placeholder="password", required)
            input(value="Save",type="submit")